body{
    margin-top: 0;
    background-color:#79d4d9 ;
}
header{
    background-size: cover;
    background-position: center;
    background-image: url('https://www.oebb.at/thumbnails/www.nightjet.com/.imaging/default/dam/reiseportal/hero-teaser-2560x800/oebb-plus/wien-tiergarten-schoenbrunn.jpg/jcr:content.jpg?t=1542359827013&scale=1.0');
    height: 60vh;
    padding-top: 35px;
    display: flex;
    align-items: flex-end;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

h1{
    font-size: 35px;
    background-color:#9eccd5  ; 
    border: 1.5px solid black;
    border-radius: 5px;
}
h1::first-letter{
    font-style: italic;
    font-size: 40px;
}

.menu{
    width: 100%;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color:#9eccd5 ;
    border: 1.5px solid black;
    border-radius: 5px;
    margin: 0;
}
nav a{
    text-decoration: none;
    display: block;
    margin-left: 15px;
    color: black;
    font-size: 25px;
}
.current{
    text-decoration: underline;
}
a:hover{
    font-weight: bold;
    text-decoration: underline;
}

article{
    text-align: center;
}
video{
    margin-top: 10%;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.78);
}
.uebergang{
    margin-top: 10%;
    padding: 15%;
    background-image: url(../img/Schloss\ Schoenbrunn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    border: 3px inset black;
    background-position: center;
}

dt{
    font-size: 25px;
    margin-bottom: 15px;
}
dd::before{
    content: '';
    padding: 10px;
    background-image: url('../img/panda.png');
    background-size: contain;
    margin-right: 5px;
    background-repeat: no-repeat;
}
dd{
    margin-right: 40px;
}

.flex{
    margin: 3em auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    
}

.flexitem{
    flex: 0 0 45%;
    background-color:#9eccd5  ;
    border: 1.5px solid black;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    
}
.flex img{
    max-width: 299px;
    width: 100%;
}
.divTable{
    margin: 10% 3%;
    background-color: #9eccd5 ;
    border-radius: 1%;
}
table{
    width: 100%;     
    border: 1.5px solid black;
    border-radius: 5px;
    
}
tr:hover{
    font-weight: bold; 
}

.test{
    font-size: 25px;
    padding: 15px;
    text-align: center;
}
th{
    font-size: 18px;
    text-align: left;
}

.kontakt{
    background-image: url(../img/form-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
    
form{
    display: block;
    padding: 10px;
    margin-top: 10%;
    opacity: 0.8;
    margin-bottom: 10%;
    background-color: #ffffff;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.78);
}
.custom >*{
    flex-basis: 30%;
}
.custom { 
    width: 100%;   
    display: flex;
    justify-content: space-around;
    padding: 5px;

}
.custom:focus-within{
    background-color:#9eccd5 ;
}
fieldset{
    border: 1px solid black;
}
.formbutton{
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    
}
.formbutton :last-child{
    margin-right: 35px;
    background-color: #9eccd5;
    border: 1px solid black;
}
.formbutton :first-child{
    margin-right: 1px;
    background-color: #9eccd5;
    border: 1px solid black;
    padding: 10px;
}
.formbutton button:hover{
    background-color: green;
    -webkit-box-shadow: 0px 0px 5px 10px #000000; 
box-shadow: 0px 0px 5px 10px #000000;
}

@media only screen and (min-width: 730px) {
    body {
        width: 95%;
        margin: 0px auto;
    }
}